.text-bold() {
  font: 18px/26px @pt-sans-bold;
  text-transform: uppercase;
}

.text-regular() {
  font: 14px/21px @pt-sans-regular;
  text-transform: uppercase;
}

.btn(@display; @width; @color; @color-bg) {
  display: @display;
  width: @width;
  height: 58px;
  color: @color;
  text-align: center;
  font: 21px/26px @pt-sans-bold;
  text-decoration: none;
  text-transform: uppercase;
  background: @color-bg;
  border: 0;
  box-sizing: border-box;
}
