.advantage-list {
  padding: 33px 20px 10px;

  @media (min-width: @tablet) {
    padding: 0;
  }
}

.advantage-list ul {
  margin: 0;
  padding-left: 50px;
  list-style: none;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.advantage-list__item {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding: 55px 45px 35px;
    width: 33.33%;
    text-align: center;
    box-sizing: border-box;
  }
}

.advantage-list__title {
  position: relative;
  margin: 0 0 14px;
  .text-bold();

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translate(0, -50%);

    @media (min-width: @tablet) {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto 25px;
      transform: translate(0, 0);
    }
  }

  @media (min-width: @tablet) {
    font-size: 21px;
  }
}

.advantage-list__title--house::before {
  width: 39px;
  height: 37px;
  background: url("../img/icon-house.svg") no-repeat 50%/contain;

  @media (min-width: @tablet) {
    width: 75px;
    height: 72px;
  }
}

.advantage-list__title--gift::before {
  width: 32px;
  height: 38px;
  background: url("../img/icon-gift.svg") no-repeat 50%/contain;

  @media (min-width: @tablet) {
    width: 77px;
    height: 68px;
  }
}

.advantage-list__title--burger::before {
  width: 40px;
  height: 35px;
  background: url("../img/icon-burger.svg") no-repeat 50%/contain;

  @media (min-width: @tablet) {
    width: 64px;
    height: 75px;
  }
}

.advantage-list__text {
  margin: 0 0 27px;
  .text-regular();
}
