.find {
  padding: 28px 20px 49px;
}

.find__title {
  margin: 0 0 15px;
  padding: 0 0px;
  color: inherit;
  font: 21px/26px @pt-sans-bold;
  text-align: center;
}

.find__text {
  margin: 0 0 35px;
  color: inherit;
  font: 14px/24px @pt-sans-regular;
  text-transform: uppercase;
  text-align: center;
}

.find__btn {
  .btn(block; 280px; #fff; @color-sedona);
  padding-top: 15px;
}
