.head-wrapper {
  position: relative;
  height: 56px;
  background: @color-white;

  @media (min-width: @tablet) {
    margin: -56px auto 0;
    background: transparent;
  }
}

.head-wrapper__logo {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
